# Project 2 
*  By: Nicholas Giuffrida

##   Data
*  **We will be working with the *IMDB* Movie data set**

In [1]:
import os
os.makedirs('Data/',exist_ok=True)

In [2]:
os.listdir("Data/")

['IMDB Movie Dataset Info.docx',
 'title.basics.tsv.gz',
 'ratings_filtered.csv',
 '.csv',
 'title.ratings.tsv.gz',
 'title-akas-us-only.csv',
 '.ipynb_checkpoints',
 'B_filtered.csv']

In [3]:
import pandas as pd
import numpy as np

In [4]:

pd.set_option('display.max_columns',50)

In [5]:
basics = pd.read_csv('title.basics.tsv.gz', sep='\t', low_memory=False)

In [6]:
ratings = pd.read_csv('title.ratings.tsv.gz', sep='\t', low_memory=False)

In [7]:
akas = pd.read_csv('title-akas-us-only.csv', low_memory=False)

##  Remove non-US movies from title basics

In [8]:
# Filter the basics table down to only include the US by using the filter akas dataframe
filter_us_titles = basics['tconst'].isin(akas ['titleId'])
basics = basics[filter_us_titles]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
...,...,...,...,...,...,...,...,...,...
10016872,tt9916560,tvMovie,March of Dimes Presents: Once Upon a Dime,March of Dimes Presents: Once Upon a Dime,0,1963,\N,58,Family
10016901,tt9916620,movie,The Copeland Case,The Copeland Case,0,\N,\N,\N,Drama
10016939,tt9916702,short,Loving London: The Playground,Loving London: The Playground,0,\N,\N,\N,"Drama,Short"
10016962,tt9916756,short,Pretty Pretty Black Girl,Pretty Pretty Black Girl,0,2019,\N,\N,Short
10016966,tt9916764,short,38,38,0,2018,\N,\N,Short

##  Convert placeholder "\N" values back to true null values

In [9]:
basics = basics.replace({'\\N':np.nan})

In [10]:
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            0
originalTitle           0
isAdult                 0
startYear           98665
endYear           1328513
runtimeMinutes     503119
genres              28616
dtype: int64

In [11]:
basics = basics.dropna(subset = ['runtimeMinutes', 'genres'])

In [12]:
basics.isna().sum()

tconst                 0
titleType              0
primaryTitle           0
originalTitle          0
isAdult                0
startYear           8802
endYear           833124
runtimeMinutes         0
genres                 0
dtype: int64

In [13]:
basics['titleType'].value_counts()

short           278334
movie           203476
tvEpisode       173684
video           115616
tvSeries         36847
tvMovie          25949
tvSpecial         9289
tvMiniSeries      5845
tvShort           4101
videoGame          194
Name: titleType, dtype: int64

In [14]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853335 entries, 0 to 10016872
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          853335 non-null  object
 1   titleType       853335 non-null  object
 2   primaryTitle    853335 non-null  object
 3   originalTitle   853335 non-null  object
 4   isAdult         853335 non-null  object
 5   startYear       844533 non-null  object
 6   endYear         20211 non-null   object
 7   runtimeMinutes  853335 non-null  object
 8   genres          853335 non-null  object
dtypes: object(9)
memory usage: 65.1+ MB

##  Convert startYear to a float dtype

In [15]:
basics['startYear']= basics['startYear'].astype(float)

In [16]:
basics['startYear'].dtype

dtype('float64')

##  Filter to keep only full-length movies

In [17]:
movie_filter = basics['titleType'] =='movie'

In [18]:
movie_filter

0           False
1           False
4           False
5           False
6           False
            ...
10016704    False
10016724    False
10016770    False
10016777     True
10016872    False
Name: titleType, Length: 853335, dtype: bool

In [19]:
basics_filtered = basics[movie_filter]

In [20]:
basics_filtered

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894.0,NaN,45,Romance
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897.0,NaN,100,"Documentary,News,Sport"
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906.0,NaN,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907.0,NaN,90,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908.0,NaN,120,"Adventure,Fantasy"
...,...,...,...,...,...,...,...,...,...
10016366,tt9915436,movie,Vida em Movimento,Vida em Movimento,0,2019.0,NaN,70,Documentary
10016544,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019.0,NaN,97,"Comedy,Drama,Fantasy"
10016684,tt9916170,movie,The Rehearsal,O Ensaio,0,2019.0,NaN,51,Drama
10016693,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller"
10016777,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History"

In [21]:
basics_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203476 entries, 8 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          203476 non-null  object
 1   titleType       203476 non-null  object
 2   primaryTitle    203476 non-null  object
 3   originalTitle   203476 non-null  object
 4   isAdult         203476 non-null  object
 5   startYear       199907 non-null  float64
 6   endYear         0 non-null       object
 7   runtimeMinutes  203476 non-null  object
 8   genres          203476 non-null  object
dtypes: float64(1), object(8)
memory usage: 15.5+ MB

##  Filter  Start Years

In [22]:
basics_filtered = basics_filtered[basics_filtered['startYear'].between(2000, 2022)]

In [23]:
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

##  Eliminate "Documentary"

In [24]:
filter_documentaries = basics_filtered['genres'].str.contains('Documentary')

In [25]:
basics_filtered = basics_filtered[~filter_documentaries]

In [26]:
basics_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86979 entries, 34802 to 10016777
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  object
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      object
 7   runtimeMinutes  86979 non-null  object
 8   genres          86979 non-null  object
dtypes: float64(1), object(8)
memory usage: 6.6+ MB

##  Display  final preview

In [27]:
basics_filtered.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34802,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
61114,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
67666,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
86793,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
93930,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [28]:
# Save file path to folder with new file name at the end
fname_out = "Data/B_filtered.csv"
basics_filtered.to_csv(fname_out, index=False)

##  Load and filter ratings

In [29]:
ratings = pd.read_csv('title.ratings.tsv.gz', sep='\t', low_memory=False )

In [30]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1988
1  tt0000002            5.8       265
2  tt0000003            6.5      1849
3  tt0000004            5.5       178
4  tt0000005            6.2      2632

In [31]:
filter_basics = ratings['tconst'].isin(basics_filtered['tconst'])

##  Display a final preview and save to a csv

In [32]:
ratings = ratings[filter_basics]
ratings

            tconst  averageRating  numVotes
17961    tt0035423            6.4     87153
40764    tt0062336            6.4       175
46645    tt0069049            6.7      7754
63640    tt0088751            5.2       336
69953    tt0096056            5.6       846
...            ...            ...       ...
1331411  tt9914942            6.6       178
1331437  tt9915872            6.4         9
1331450  tt9916170            7.0         7
1331451  tt9916190            3.7       243
1331462  tt9916362            6.4      5422

[71900 rows x 3 columns]

In [33]:
# Save file path to folder with new file name at the end
fname_out = "Data/ratings_filtered.csv"
ratings.to_csv(fname_out, index=False)